@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --bg-colour: #f7f7f7;
    --btn-add-colour: #a7c6ff;
    --btn-sub-colour: #f4a4c0;
}

body {
    background-color: var(--bg-colour);
    font-family: 'Plus Jakarta Sans', 'Segoe UI', sans-serif;
}

button {
    border: 0;
    background-color: transparent;
}

#title {
    font-weight: 200;
    font-size: 1.5rem;
}

#actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#actions button {
    color: black;
    border-radius: 9999px;
}

#num {
    font-weight: 200;
    font-size: 7rem;
    letter-spacing: -0.5rem;
}

#restart {
    font-weight: 300;
    opacity: 50%;
}

@media (max-width: 767px) {
    #btns {
        position: fixed;
        bottom: 0;
    }
}

#btns>button {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    position: relative;
    overflow: hidden;

    height: 6rem;
    border: 0.4rem solid var(--bg-colour);
    border-radius: 1.5rem;

    color: #f7f7f7;
    font-size: 1.5rem;

    cursor: pointer;
    transition: transform 0.1s ease;
}

#btns>button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.1s ease;
    border-radius: 0;
}

#btns>button:active {
    transform: scale(0.95);
}

#btns>button:active::after {
    background: rgba(0, 0, 0, 0.2);
}

@media (hover: hover) {
    #btns>button:hover::after {
        background: rgba(0, 0, 0, 0.1);
    }
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn-add {
    background-color: var(--btn-add-colour);
}

.btn-sub {
    background-color: var(--btn-sub-colour);
}

.text-add {
    color: var(--btn-add-colour);
}

.text-sub {
    color: var(--btn-sub-colour);
}
